<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

    <a href="#/boards" class="navbar-brand">
      <span><img class="navbar-left" src="jelly.png" style="height: 30px; width: 30px">  
    </a>
    <div class="pull-right">
      <h5>
        Welcome <%= current_user.email %>!
        <%= link_to 'Logout', destroy_user_session_path,  method: :delete %>
      </h5>
    </div>
  </nav>
  <br>
  <br>
  <br>

  <div class="container-fluid">
    <!-- <ui-view></ui-view> -->
    <div class="col-xs-10">
      
      <div ui-view="main-view">
        Loading Main<br><br><br><br><br><br>
      </div>
        
    
    </div>

    <div class="col-xs-2">
      <div class="card">
        <div ui-view="members-control">
          Loading Members Control<br><br><br><br><br><br>
        </div>
        
      </div>
      <div class="card">
        <div ui-view="side-control">
          Loading Boards Control<br><br><br><br><br><br>
        </div>
        
      </div>
    </div>

    <!-- <div class="col-xs-4">
      <div class="card bg-warning">
        <br><br><br><br><br><br>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card bg-danger">
        <br><br><br><br><br><br>
      </div>
    </div> -->
  </div>
</body>