<div class="card-header">
  <h5> Board Control </h5>
</div>

<button class="btn btn-md btn-outline-primary" ui-sref="main.boards">All Boards</button>



<div class="card-block">
  <select ng-change='changeView()' 
          ng-model="selectedBoard" class="form-control"
          ng-options="board.title for board in boards"
  >
  </select>
  <!-- <div ng-repeat="board in boards">  

    <button class="col-xs-12" ui-sref="main.boards.show({id:board.id})"> 
      Board: {{board.title}}
    </button>
  </div> -->
</div>

<div class="card-block">
  <button ng-click="addBoard()" class='btn btn-outline-primary btn-sm'> New Board</button>
  <button ng-click="deleteBoard()" class='btn btn-outline-danger btn-sm'> Delete Board</button>
</div>

